* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


h1{
    font-family: 'Poppins', sans-serif, ;
    font-weight: 900;
    color: #38424d;
    font-style: oblique;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #747e74;
    margin: 0;
}

.header-image {
    position: relative;
    padding-top: 80px;
    animation: bounceTop-1 3s ease infinite;
}


.header-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('/static/img/header-shape-1.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.bg-img{
	background-image: url('/static/img/IMG1.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
